Flujos Automatizados/Notificar Usuario y Soporte/Microsoft.Flow/flows/f1da1b61-90e4-4154-9c89-5ec092794228/definition.json
{"name":"676c1440-2568-4e02-b184-1d48c992165a","id":"/providers/Microsoft.Flow/flows/676c1440-2568-4e02-b184-1d48c992165a","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Notificar Usuario y Soporte","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"ecfcfaf3-30aa-43ca-9e22-fa64af9cba37","type":"User","tenantId":"1b828b19-ecaa-4783-bbf0-6f03ef4579c4"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-07-18T17:59:25.0611542Z","connectionKeySavedTimeKey":"2024-07-18T17:59:25.0611542Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Cuando_se_crea_un_elemento":{"recurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"a2ddfb01-ec1e-4150-9c12-e1eabce32dbb"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnNewItems"},"parameters":{"dataset":"https://telsisnetcialtda.sharepoint.com/sites/SistemaHelpdesk","table":"4d4eb27d-8ff5-4446-9850-c57a6fb7f7c0"},"authentication":"@parameters('$authentication')"}}},"actions":{"Condición":{"actions":{"Notificar_Técnico_de_internet_":{"runAfter":{},"metadata":{"operationMetadataId":"07fcc76b-24ad-494e-83e5-1ad28dedd7f0"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"telsisnet4@gmail.com","emailMessage/Subject":"Nuevo Ticket de Soporte # @{triggerOutputs()?['body/ID']}","emailMessage/Body":"<p>Estimado tecnico de soporte de internet.<br>\nSe ha creado la siguiente solicitud de Soporte: @{triggerOutputs()?['body/Descripci_x00f3_n_x002f_Soporte']}<br>\n<strong>Usuario: </strong><strong>@{triggerOutputs()?['body/Nombre_x002f_Apellido']}</strong><strong></strong></p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Notificar_Técnico_de_hardware_y_software":{"runAfter":{},"metadata":{"operationMetadataId":"fe10a160-0bcb-4e7d-8641-a2420984a555"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"mhardwaresoftware41@gmail.com","emailMessage/Subject":"Nuevo Ticket de Soporte # @{triggerOutputs()?['body/ID']}","emailMessage/Body":"<p>Estimado tecnico de mantenimiento y reparacion de hardware y software.<br>\nSe ha creado la siguiente solicitud de Soporte: @{triggerOutputs()?['body/Descripci_x00f3_n_x002f_Soporte']}<br>\n<strong>Usuario:</strong>@{triggerOutputs()?['body/Nombre_x002f_Apellido']}</p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@triggerOutputs()?['body/Soporte_x002f_Tipo/Value']","Soporte técnico de internet"]},"metadata":{"operationMetadataId":"08a8d7bc-0537-4a6d-9022-4875cc60d9b2"},"type":"If"},"Notificar_Usuario":{"runAfter":{"Condición":["Succeeded"]},"metadata":{"operationMetadataId":"dfdba19d-30d9-49df-b92d-958a9b8ad375"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@triggerOutputs()?['body/Correo']","emailMessage/Subject":"Se ha creado su ticket de sorporte # ","emailMessage/Body":"<p>Estimado (a) usuario @{triggerOutputs()?['body/Nombre_x002f_Apellido']}<br>\nSe ha creado tu solicitud de soporte: @{triggerOutputs()?['body/Descripci_x00f3_n_x002f_Soporte']}<br>\nRegistrado: @{triggerOutputs()?['body/Created']}<br>\nEl técnico de soporte se contactará con usted para atenderlo.</p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}}},"connectionReferences":{"shared_office365":{"connectionName":"shared-office365-eecdc9db-0b33-4bc7-b2c2-716938f77156","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_sharepointonline":{"connectionName":"shared-sharepointonl-851a1791-51cc-4f6f-9389-1bc0579dc938","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}