Flujos Automatizados/Tipo de Técnico/Microsoft.Flow/flows/eb9d721a-3b79-4061-bbc6-fd3d712f306a/definition.json
{"name":"0352258c-dd50-4236-a89c-d7cfe87cb6f3","id":"/providers/Microsoft.Flow/flows/0352258c-dd50-4236-a89c-d7cfe87cb6f3","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Tipo de Técnico","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"ecfcfaf3-30aa-43ca-9e22-fa64af9cba37","type":"User","tenantId":"1b828b19-ecaa-4783-bbf0-6f03ef4579c4"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-09-05T06:02:02.3680549Z","connectionKeySavedTimeKey":"2024-09-05T06:02:02.3680549Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Cuando_se_crea_un_elemento":{"recurrence":{"interval":5,"frequency":"Minute"},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"6f30c04f-b6ce-4ac1-a475-2851acb04dfe"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnNewItems"},"parameters":{"dataset":"https://telsisnetcialtda.sharepoint.com/sites/SistemaHelpdesk","table":"4d4eb27d-8ff5-4446-9850-c57a6fb7f7c0"},"authentication":"@parameters('$authentication')"}}},"actions":{"Condición":{"actions":{"Agregar_datos_adjuntos":{"runAfter":{},"metadata":{"operationMetadataId":"d0279c4e-0997-45d2-9e7b-0ce3e57046e9"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateAttachment"},"parameters":{"dataset":"https://telsisnetcialtda.sharepoint.com/sites/SistemaHelpdesk","table":"4d4eb27d-8ff5-4446-9850-c57a6fb7f7c0","itemId":"@triggerOutputs()?['body/T_x00e9_cnico_x002f_Nombre/Value']","displayName":"Cesar Durán ","body":"Cesar Durán "},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Agregar_datos_adjuntos_2":{"runAfter":{},"metadata":{"operationMetadataId":"8af74e61-00c1-4fa6-9417-e58fdca10b40"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateAttachment"},"parameters":{"dataset":"https://telsisnetcialtda.sharepoint.com/sites/SistemaHelpdesk","table":"4d4eb27d-8ff5-4446-9850-c57a6fb7f7c0","itemId":"@triggerOutputs()?['body/T_x00e9_cnico_x002f_Nombre/Value']","displayName":"Soledad Tinoco","body":"Soledad Tinoco"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@triggerOutputs()?['body/T_x00e9_cnico_x002f_Nombre']","Soporte técnico internet"]},"metadata":{"operationMetadataId":"baf11403-fcfb-4018-bf80-ec0a4217d989"},"type":"If"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-851a1791-51cc-4f6f-9389-1bc0579dc938","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}