Flujos Automatizados/Problemas y Soluciones/Microsoft.Flow/flows/3ce097ef-3b8c-448c-88da-f34dfac2c193/definition.json
{"name":"2c3d7fe1-96aa-4e99-912b-f1029d60b2aa","id":"/providers/Microsoft.Flow/flows/2c3d7fe1-96aa-4e99-912b-f1029d60b2aa","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Problemas y Soluciones","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"ecfcfaf3-30aa-43ca-9e22-fa64af9cba37","type":"User","tenantId":"1b828b19-ecaa-4783-bbf0-6f03ef4579c4"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-09-06T05:15:18.246833Z","connectionKeySavedTimeKey":"2024-09-06T05:15:18.246833Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Cuando_se_envía_una_respuesta_nueva":{"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"8164ea75-2b77-4f34-9207-a9e5418e63ea"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"parameters":{"form_id":"GYuCG6rsg0e78G8D70V5xPP6_OyqMMpDniL6ZK-cujdURFNCTVFJNjlTTEtUU0wwTTZWTzZLUlROWi4u"},"authentication":"@parameters('$authentication')"}}},"actions":{"Obtener_los_detalles_de_la_respuesta":{"runAfter":{},"metadata":{"operationMetadataId":"b719d89d-db81-4e53-8489-6ffc1bca05cd"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"parameters":{"form_id":"GYuCG6rsg0e78G8D70V5xPP6_OyqMMpDniL6ZK-cujdURFNCTVFJNjlTTEtUU0wwTTZWTzZLUlROWi4u","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"authentication":"@parameters('$authentication')"}},"Crear_elemento":{"runAfter":{"Obtener_los_detalles_de_la_respuesta":["Succeeded"]},"metadata":{"operationMetadataId":"347c7a5e-c629-4b47-8e0b-6408cf7fe90a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://telsisnetcialtda.sharepoint.com/sites/SistemaHelpdesk","table":"795a0435-a361-4b2e-bba6-ffb29aaa36f1","item/Soporte7Tipo/Value":"@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r6d7c135ab6184a6f94c8bbb87695e755']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rd32eec971bd44c2fa7b03d4503721a6c']}","item/Descripci_x00f3_n_x002f_Soporte":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r6273491d4c2f42c78786fd832b33f1fd']"},"authentication":"@parameters('$authentication')"}},"Condición":{"actions":{"Crear_elemento_2":{"runAfter":{},"metadata":{"operationMetadataId":"1fa26caf-28a1-4eb0-a2d5-23db894d7fda"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://telsisnetcialtda.sharepoint.com/sites/SistemaHelpdesk","table":"795a0435-a361-4b2e-bba6-ffb29aaa36f1","item/Soluci_x00f3_n_x002f_Soporte":"@outputs('Crear_elemento')?['body/Soluci_x00f3_n_x002f_Soporte']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Crear_elemento":["Succeeded"]},"expression":{"equals":["@outputs('Crear_elemento')?['body/Soluci_x00f3_n_x002f_Soporte']","@outputs('Crear_elemento')?['body/Soluci_x00f3_n_x002f_Soporte']"]},"metadata":{"operationMetadataId":"3bb10ede-432a-4807-9d84-5c8c546671c3"},"type":"If"}}},"connectionReferences":{"shared_microsoftforms":{"connectionName":"shared-microsoftform-76924265-e636-4142-ad2c-301230d1727c","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified"},"shared_sharepointonline":{"connectionName":"shared-sharepointonl-851a1791-51cc-4f6f-9389-1bc0579dc938","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}